<div class="container">
    <div class="row">
        <div class="col-xs-8">
          <form [formGroup]="productForm">
            <div id="user-date">
              <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" id="productName" name="productName" formControlName="productName" class="input-group mb-2 mr-sm-2 mb-sm-0">
                <span class="help-block" *ngIf="!productName.valid">Please enter Product Name</span>
              </div>
              
              <div class="form-group">
                <label for="productDesc">Product Description</label>
                <textarea type="text" id="productDesc" formControlName="productDesc" class="input-group mb-2 mr-sm-2 mb-sm-0" rows="3"></textarea>
              </div>

               <div class="form-group">
                <label for="productCategory">Product Category</label>
                <input type="text" id="productCategory" formControlName="productCategory" class="input-group mb-2 mr-sm-2 mb-sm-0">
              </div>

              <div class="form-group">
                <label for="productCost">Product Cost</label>
                <input type="text" id="productCost" formControlName="productCost" class="input-group mb-2 mr-sm-2 mb-sm-0">
              </div>
              <button [disabled] = !productForm.valid class="btn btn-primary" type="submit">Add</button>
              <button class="btn btn-primary" type="submit">Reset</button>
              </div>
          </form>
        </div>
    </div>
</div>