  <div class="container">
        <div class="col-xs-8">
          <h4 class="header-list"> Add product</h4>
          <hr>
          <form [formGroup]="productForm">
            <div id="user-date">
              <div class="form-group">
                <label for="productname">Product Name</label>
                <input type="text" id="productname" formControlName="productname" class="input-group mb-2 mr-sm-2 mb-sm-0">
              </div>
              
              <div class="form-group">
                <label for="productdesc">Product Description</label>
                <textarea type="text" id="productdesc" formControlName="productdesc" class="input-group mb-2 mr-sm-2 mb-sm-0" rows="3"></textarea>
              </div>

               <div class="form-group">
                <label for="productcategory">Product Category</label>
                <input type="text" id="productcategory" formControlName="productcategory" class="input-group mb-2 mr-sm-2 mb-sm-0">
              </div>
  
              <div class="form-group">
                <label for="productcost">Product Cost</label>
                <input type="text" id="productcost" formControlName="productcost" class="input-group mb-2 mr-sm-2 mb-sm-0">
              </div>

                <div class="form-group">
                  <label for="producturl">Product Image URL</label>
                  <input type="text" id="producturl" formControlName="producturl" class="input-group mb-2 mr-sm-2 mb-sm-0">
                </div>

              <input [disabled] = !productForm.valid (click)="onAddProduct()" class="btn btn-primary" 
              type="button" name="{{buttonAddUpd}}" value="{{buttonAddUpd}}">

              <button class="btn btn-primary" (click)="onReset()" type="submit">Reset</button>
              
              </div>
          </form>
        </div>
</div>  